.settings {
	z-index: 10;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: firebrick;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 1rem;
	text-align: center;
}
section {
	display: flex;
}

section:has(input[type="range"]){
}
section:has(input[type="range"]) > p {
	margin: 0;
}
section > input[type="range"]{
}
section > label {
	margin-right: 1rem;
}