.link {
	background-color: transparent;
	color: var(--antique-white);
	font-size: 75%;
	padding: 10px 20px 10px 20px;
	margin: 0.1em;
	transition: 0.2s ease-in-out;
	border: 1px solid var(--antique-white);
	border-radius: 25px;
	text-decoration: none;
}

.link:hover{
	background-color: var(--text-color-secondary);
	color: black;
}