@keyframes wobble {
	0%{
		transform: rotate(-10deg);
	}
	100%{
		transform: rotate(10deg);
	}
}

@keyframes shimmer {
	0%{
		color: var(--text-color-main);
	}
	100%{
		color: var(--text-color-secondary);
	}
}

.name{
	font-size: 10vw;
	color: var(--text-color-main);
}

@media screen and (min-width: 600px) {
.name{
	font-size: 5vw;
  }
}