main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	counter-reset: h1-counter;
}

section {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

h2::before {
	counter-increment: h1-counter;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	content: counter(h1-counter) ' ';
	width: 1em;
	height: 1em;
	position: relative;
	right: 1rem;
	background-color: var(--text-color-secondary);
	border: 1px solid inherit;
	border-radius: .2em;
}

section h2 {
	color: var(--text-color-main);
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

.card {
	width: 100px;
	height: 100px;
	background-color: var(--cg-blue);
	display: flex;
	justify-content: center;
	align-items: center;

	transition: scale 300ms, opacity 200ms;
}

.card:hover {
	scale: 120%;
}

.cards:has(.card:hover) .card:not(:hover){
	scale: .8;
	opacity: .7;
}