.App {

  display: grid;
  grid-template:
    ". H ." 2rem
    "C C C" 1fr 
    / 1fr 1fr 1fr;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.nav {
  grid-area: H;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color-secondary);
  border-radius: 0 0 1rem 1rem;
}

.nav > a {
  text-decoration: none;
  color: var(--text-color-main);
}

.content {
  grid-area: C;
}

